.titleProperties {
    text-align: center;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width: 320px) {
    .titleProperties {
        margin-top: 30%;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {
    .titleProperties {
        margin-top: 20%;
    }
}


/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    .titleProperties {
        margin-top: 7%;
    }
}