.labelSize {
	font-size: 20px;
}

#form {
	margin-top: 5vh;
}

#tooltipPosition {	
	margin-left: 36vw;
}

#nameField {
	position: relative;
}

#emailField {
	position: relative;
}

#messageField {
	position: relative;
}
.formWidth {
	width: 90vh;
}

#button {
	width: 25vh;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width: 320px) {
	.formWidth {
		width: 90%;
	}

	#nameField {
		margin-left: 17%;
		position: relative;
	}

	#emailField {
		margin-left: 17%;
		position: relative;
	}

	#messageField {
		margin-left: 17%;
		position: relative;
	}
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {
	.formWidth {
		width: 100%;
	}

	#nameField {
		margin-left: 5%;
		position: relative;
	}

	#emailField {
		margin-left: 5%;
		position: relative;
	}

	#messageField {
		margin-left: 5%;
		position: relative;
	}
}