.carousel {
    opacity: 0.93;    
    z-index: 1;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    opacity: 1;
}

.imageCarousel {
    height: 100vh;
    min-height: 400px;
    width: 100vw;
    min-width: 400px;
    /*  border-radius: 25px; */
    background: no-repeat center center;
    background-size: cover;
}