#firstParagraphProperties {
    color: gray;
    text-align: left;
    border-style: none;
    background: none;
    white-space: normal;
}

#secondParagraphProperties {
    color: gray;
    text-align: left;
    border-style: none;
    background: none;
    white-space: normal;
}

#bambinelliTestimonial {
    white-space: normal;
    color: gray;
    text-align: left;
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width: 320px) {
    .servicesTitleProperties {
        margin-top: 15%;
        margin-left: 35%;
    }

    #firstParagraphProperties {
        margin-top: 0;
        margin-left: 5%;
        width: 90vw;
    }

    #secondParagraphProperties {
        margin-top: 5%;
        margin-left: 5%;
        width: 90vw;
    }

    #firstTitlePosition {
        font-size: xx-large;
        margin-top: 10%;
        white-space: normal;
        text-align: center;
    }

    #secondTitlePosition {
        font-size: xx-large;
        white-space: normal;
        margin-top: 10%;
        margin-left: 1%;
        text-align: center;
    }

    #bambinelliTestimonial {
        width: 90vw;
        margin-top: 20%;
        margin-left: 5%;
    }

    #servicesPic {
        width: 90vw;
        margin-top: 3%;
        margin-left: 5%;
        border-radius: 25px;
        opacity: .75;
    }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {
    .servicesTitleProperties {
        margin-top: 2%;
        margin-left: -10%;
        text-align: center;
    }


    #firstParagraphProperties {
        margin-top: 0;
        margin-left: 1%;
        width: 40vw;
        text-align: left;
    }

    #secondParagraphProperties {
        margin-top: -15%;
        margin-left: 1%;
        width: 40vw;
        text-align: left;
    }

    #firstTitlePosition {
        font-size: xx-large;
        margin-top: -25%;
        white-space: normal;
        text-align: left;
    }

    #secondTitlePosition {
        font-size: xx-large;
        white-space: normal;
        margin-top: 5%;
        margin-left: 1%;
        text-align: left;
    }

    #firstTitleIcon {
        margin-top: 50%;
        margin-left: 50%;
    }

    #secondTitleIcon {
        margin-top: 50%;
        margin-left: 50%;
    }

    #bambinelliTestimonial {
        width: 40vw;
        margin-top: 5%;
        margin-left: 1%;
    }

    #servicesPic {
        margin-top: 3%;
        margin-left: 50%;
        width: 45vw;
        border-radius: 25px;
        opacity: .75;
    }
}

 /* big landscape tablets, laptops, and desktops */
 @media (min-width:1025px) {

        .servicesTitleProperties {
            margin-top: 2%;
            margin-left: -10%;
            text-align: center;
        }


        #firstParagraphProperties {
            margin-top: 0%;
            margin-left: 1%;
            width: 40vw;
            text-align: left;
        }

        #secondParagraphProperties {
            margin-top:  0%;
            margin-left: 1%;
            width: 40vw;
            text-align: left;
        }

        #firstTitlePosition {
            font-size: xx-large;
            margin-top: -25%;
            margin-left: 1%;
            white-space: normal;
            text-align: left;
        }

        #secondTitlePosition {
            font-size: xx-large;
            white-space: normal;
            margin-top: 5%;
            margin-left: 1%;
            text-align: left;
        }

        #bambinelliTestimonial {
            width: 40vw;
            margin-top: 5%;
            margin-left: 1%;
        }

        #servicesPic {
            margin-top: 3%;
            margin-left: 50%;
            width: 45vw;
            border-radius: 25px;
            opacity: .75;
        }
    }