.servicesTitleProperties {
    margin-top: 13vh;
    text-align: center;
}

.firstParagraphPosition {
    width: 100%;
    position: fixed;
}

.secondParagraphPosition {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: fixed;
}

.firstParagraphProperties {
    margin-top: 4vh;
    margin-left: 10vh;
    width: 90vh;
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    opacity: .50;
}

.secondParagraphProperties {
    margin-top: 5vh;
    margin-left: 105vh;
    width: 90vh;
    text-align: center;
    border: 2px solid grey;
    border-radius: 5px;
    background-color: white;
    opacity: .50;
}

#firstTitlePosition {
    white-space: nowrap;
    display: block;
    margin-top: 7vh;
    margin-left: 30vh;
    position: relative;
}

#secondTitlePosition {
    white-space: nowrap;
    display: block;
    margin-top: -43vh;
    margin-left: 125vh
}

#firstTitleIcon {
    white-space: nowrap;
    display: inline-block;
    display: block;
    margin-top: -7vh;
    margin-left: 80vh;
}

#secondTitleIcon {
    display: block;
    margin-top: -7vh;
    margin-left: 157vh;
}


/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media only screen and (min-width: 320px) {
    .servicesTitleProperties {
        margin-top: 13%;
        margin-left: 10%;
    }

    .firstParagraphPosition {
        width: 100%;
        position: fixed;
    }

    .secondParagraphPosition {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: fixed;
    }

    .firstParagraphProperties {
        white-space: initial;
        margin-top: -10%;
        margin-left: 5%;
        width: 90%;
        text-align: center;
        border: 2px solid grey;
        border-radius: 5px;
        background-color: white;
        opacity: .50;
    }

    .secondParagraphProperties {
        white-space: initial;
        margin-top: -10%;
        margin-left: 5%;
        width: 90%;
        text-align: center;
        border: 2px solid grey;
        border-radius: 5px;
        background-color: white;
        opacity: .50;
    }

    #firstTitlePosition {
        white-space: nowrap;
        font-size: x-large;
        display: block;
        margin: 15%;
        text-align: center;
    }

    #secondTitlePosition {
        white-space: nowrap;
        font-size: x-large;
        display: block;
        margin: 15%;
        text-align: center;
    }

    #firstTitleIcon {
        display: none;
    }

    #secondTitleIcon {
        display: none;
    }
}